{% extends 'auth.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('auth') }}
{% endblock %}

{% block body %}

<h1>CONNEXION</h1>

<form method="post" action="{{path('app_auth')}}">
	{# <lablel for="email">Email</lablel> #}
	<input type="email" id="email" name="email" placeholder="Email" value="{{last_email}}" />
	{# <lablel for="password">Mot de passe</lablel> #}
	<input type="password" id="password" placeholder="Mot de passe" name="password" />
	<button type="submit">Connexion</button>
</form>


<p class="text">Pas de compte ? <a class="underline" href="{{path('app_register')}}">Inscrivez-vous ici</a></p>

{% endblock %}
