@tailwind base;
@tailwind components;
@tailwind utilities;

$luna-darker : #021046;
$luna-dark : #03217D;
$luna : #0838CF;
$luna-light : #0C82F2;
$luna-white : #FFF4DF;
$luna-accent : #FAA816;
$luna-error: #922727;

body {
	background: linear-gradient(rgba(#021046, 0.8), rgba(#021046, 0.8)), url(/public/images/bg-main.jpg);
	background-size: 100vw 100vh;
	color: $luna-light;
}

.container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10vh;

    .back {
        position:absolute;
        top: 25px;
        left: 25px;
        color: $luna-white;
        font-size: 1.5rem;
        font-weight: 500;
        cursor: pointer;
    }

    .left-side {
        background-color: $luna-dark;
        width: 20%;
        height: 80vh;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 1rem;

        ul {
            margin-top:100px;
            margin-left:15%;

            li {
                list-style: none;
                padding-left: 15%;
                margin-bottom: 20px;
                font-size: 1.5rem;
                font-weight: 500;
                color: $luna-white;
                cursor: pointer;
            }

            li.active {
                color: $luna-accent;
                border-radius: 1rem;
            }
        }
    }

    .right-side {
        width: 80%;
        height: 80vh;
        margin-right: 5%;
        border-radius: 1rem;

        .icon {
            width: 30px;
        }

        div > table > tbody > tr{
            background-color: $luna-dark;
            border-color: $luna-dark;
            
            .description {
                text-overflow: ellipsis;
            }

            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }

        div > table > thead > tr {
            background-color: $luna;
            border-color: $luna;
        }
        
        .no-found-info {

            animation: slide 3s ease-in-out infinite;

            .no-found {
                background-color: $luna-dark;
                width: fit-content;
                border-radius: 1rem;
                font-size: 1.5rem;
                font-weight: 500;
                color: $luna-white;
            }
        }
    }
}

.crop {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 80%;
}

@keyframes slide {
    0% {
        transform: translatey(-40px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-40px);
    }
}