@tailwind base;
@tailwind components;
@tailwind utilities;

$luna-darker : #021046;
$luna-dark : #03217D;
$luna : #0838CF;
$luna-light : #0C82F2;
$luna-white : #FFF4DF;
$luna-accent : #FAA816;
$luna-error: #922727;
$luna-success: #07460D;
$black: #000000;

body {
	background: linear-gradient(rgba(#021046, 0.8), rgba(#021046, 0.8)), url(/public/images/bg-main.jpg);
	background-size: 100vw 100vh;
	color: $luna-light;
	height: 100vh;
	width: 100vw;
}

.hidden {
	display: none !important;
}

nav {
	color: $luna-white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 10vh;
	margin-bottom: 5vh;

	.luna {
		font-size: 2.5rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 20vw;
		// border: 1px solid white;
	}

	.links {
		font-size: 1.75rem;
		width: 80vw;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		// border: 1px solid white;
	}

	.user {
		// border: 1px solid white;
		width: 20vw;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		padding-right: 1vw;
		// padding-top: 2vh;

		.connected {
			// border: 1px solid white;
			display: flex;
			height: fit-content;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;

			&:hover>.user-button {
				display: flex;
				justify-content: center;
				align-items: center;
				z-index: 1;
			}

			.user-button {
				// position: absolute;
				font-size: 1.5rem;
				color: $luna-accent;
				border: 0.1vh solid $luna-accent;
				border-radius: 100px;
				padding: 0.5vh 1vw;
				margin-top: 1vh;
				background-color: $luna-dark;
				box-shadow: 1.5vh 7vh 7vh rgba(0, 0, 0, 0.2);
				width: 60px;
				height: 40px;
				display: none;

				&:hover {
					background-color: $luna-accent;
					color: $luna-dark;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}

		.profile-pic {
			padding-top: 1vh;

			img {
				width: 75px;
				height: 75px;
				object-fit: cover;
				border-radius: 100px;
			}
		}
	}

}



/* 
	o=======o
	* DICES *
	o=======o
*/

.dices {
	position: fixed;
	bottom: 15px;
	right: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;


	.throw {
		position: absolute;
		bottom: 17px;
		right: 87px;
		padding: 5px;
		font-size: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 150px;
		height: 50px;
		margin-bottom: 0.5em;
		background-color: $luna-dark;
		color: $luna-light;
		border-radius: 100px 0px 0px 100px;
		border: 2px solid $luna-accent;
		box-shadow: 1.5vh 7vh 7vh rgba(0, 0, 0, 0.2);
	}

	.main-button {
		position: absolute;
		bottom: inherit;
		right: inherit;
		width: 70px;
		height: 70px;
		display: flex;
		border-radius: 100px;
		align-items: center;
		justify-content: center;
		background-color: $luna;
		border: 2px solid $luna-accent;
		box-shadow: 1.5vh 7vh 7vh rgba(0, 0, 0, 0.2);

		img {
			width: 75%;
			color: $luna-white;
		}
	}

	.select-dice {
		position: absolute;
		bottom: 85px;
		right: inherit;
		padding: 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 50px;
		margin-bottom: 1vw;
		color: $luna-light;

		button {
			margin-top: 1vh;

			img {
				display: inline;
				margin: 0px;
				width: 50px;
				height: 50px;
				padding: 5px;
				background-color: $luna-dark;
				color: $luna-white;
				border-radius: 100px;
				box-shadow: 0.3vh 0.3vh 0.3vh 0.2vh rgba(0, 0, 0, 0.2);
			}
		}


	}

	#dice-result {
		position: absolute;
		bottom: inherit;
		right: 250px;
		// height: 5rem;
		padding-top: .5rem;
		padding-bottom: .5rem;
		padding-left: 1rem;
		padding-right: 1rem;
		background-color: $luna;
		color: $luna-white;
		width: 12rem;
		border-radius: 15px;

		#dice-close {
			position: absolute;
			top: 0px;
			right: 0px;
			width: 20px;
			height: 20px;
			background-color: $luna-dark;
			border-radius: 0 15px 0 0;
			border: 1px solid $luna-accent;
			display: flex;
			justify-content: center;
			align-items: center;
			padding-right: 2px;
			color: $luna-white;
			font-size: .7rem;
			cursor: pointer;

			&:hover {
				background-color: $luna-accent;
				font-weight: 600;
				color: $luna-dark;
			}
		}

		#result-nb {
			font-size: 2rem;
			font-weight: 600;
			text-align: center;
			color: $luna-accent;
		}


	}

	.dice-hidden {
		display: none !important;
	}
}


/*
	o=============o
	* ERROR POPUP *
	o=============o
*/
.error-popup {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 50%;
	min-height: 10vh;
	height: fit-content;
	position: absolute;
	margin-top: 3vh;
	background-color: $luna-error;
	top: 0px;
	border: 2px solid $luna-accent;
	border-radius: 25px;
	padding-left: 1.5vw;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
}

.error-title {
	color: $luna-white;
	font-size: 1.25rem;
	font-weight: 600;
	margin-left: 1vw;
	margin-bottom: 1vh;
}

.error-text {
	color: $luna-white;
}

.error-close {
	position: absolute;
	right: 0px;
	top: 0px;
	margin-right: 1.5vw;
	margin-top: 1.5vh;
}

/*
	o===============o
	* SUCCESS POPUP *
	o===============o
*/
.success-popup {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 50%;
	min-height: 10vh;
	height: fit-content;
	position: absolute;
	margin-top: 3vh;
	background-color: $luna-success;
	top: 0px;
	border: 2px solid $luna-accent;
	border-radius: 25px;
	padding-left: 1.5vw;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
}

.success-title {
	color: $luna-white;
	font-size: 1.25rem;
	font-weight: 600;
	margin-left: 1vw;
	margin-bottom: 1vh;
}

.success-text {
	color: $luna-white;
}

.success-close {
	position: absolute;
	right: 0px;
	top: 0px;
	margin-right: 1.5vw;
	margin-top: 1.5vh;
}

/*
	o===========o
	* PAGE HOME *
	o===========o
*/
.main-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-evenly;
	margin-top: 10vh;
	height: 80vh;

	.home-main {
		width: 40%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		height: 80%;


		.title {
			color: $luna-accent;
			font-weight: bold;
			font-size: large;
			border-radius: 15px;
			background-color: $luna-dark;
			border: 1px solid $luna-accent;
			padding-top: 1.5vh;
			padding-bottom: 1.5vh;
			width: 100%;
			text-align: center;
		}

		ul {
			width: 90%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			background-color: $luna;
			height: 100%;
			overflow-y: auto;
			padding-bottom: 1vh;

			&:hover {
				&::-webkit-scrollbar-thumb {
					background-color: $luna-light;
					border-radius: 15px;
					box-shadow: 0 0 3px hsl(235, 21%, 11%);
				}
			}

			&::-webkit-scrollbar {
				background-color: $luna;
				width: 10px;
			}

			&::-webkit-scrollbar-thumb {
				background-color: $luna;
				border-radius: 15px;
			}

			a {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			li {
				display: flex;
				flex-direction: row;
				align-items: center;
				color: #FAA816;
				font-weight: bold;
				font-size: large;
				border-radius: 15px;
				background-color: #03217D;
				padding-top: 10px;
				padding-bottom: 10px;
				width: 100%;
				height: 60px;
				margin-top: 5px;
				margin-bottom: 5px;
				margin-left: 10px;
				margin-right: 10px;

				img {
					height: 60px;
					width: 60px;
					-o-object-fit: cover;
					object-fit: cover;
					border-radius: 15px 0 0 15px;
					margin-right: 10px;
				}

				div {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: center;
					overflow: hidden;
                	text-overflow: ellipsis;
                	white-space: nowrap;
                	width: 80%;

					.name {
						color: $luna-accent;
					}

					.infos {
						color: $luna-white;
						font-weight: normal;
					}
				}
			}
		}

		.add {
			width: 90%;
			background-color: #FAA816;
			color: #FFF4DF;
			height: 50px;
			padding-bottom: 10px;
			border-radius: 0px 0px 15px 15px;
			text-align: center;
			cursor: pointer;
			border: solid $luna 5px;
			font-weight: bolder;
			font-size: 25px;
		}
	}
}

.no-found-info {

	animation: slide 3s ease-in-out infinite;

	.no-found {
		background-color: $luna-dark;
		width: fit-content;
		border-radius: 1rem;
		font-size: 1.5rem;
		font-weight: 500;
		color: $luna-white;
	}
}

@keyframes slide {
	0% {
		transform: translatey(-40px);
	}

	50% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-40px);
	}
}

/*
	o==============o
	* PAGE PROFILE *
	o==============o
*/

.user-container {

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	.container-left {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		width: 11vw;
		border-radius: 25px;
		height: fit-content;

		.delete-img {
			position: absolute;
			align-self: flex-end;
			margin-left: 9vw;
			margin-top: 9.4vw;
			background-color: $luna-dark;
			color: $luna-accent;
			border-radius: 15px 0 0 0;
			border: 1px solid $luna-accent;
			width: 2vw;
			cursor: pointer;
		}

		.file-name {
			position: absolute;
			width: max-content;
			max-width: 11vw;
			margin-top: -1vh;
			background-color: $luna-dark;
			color: $luna-white;
			border-radius: 100px;
			border: 1px solid $luna-accent;
			padding-left: 1vw;
			padding-right: 1vw;
		}

		.img-holder {
			width: 11vw;
			height: 11vw;
			position: absolute;
			z-index: 1;
			display: flex;
			justify-content: center;
		}

		img {
			width: 11vw;
			height: 11vw;
			object-fit: cover;
			border-radius: 25px 25px 0 0;
		}

		label {
			z-index: 2;
			cursor: pointer;
			font-size: 3rem;
			border-radius: 25px 25px 0 0;
			color: $luna-accent;
			background-color: rgba($luna-white, 0.5);
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			width: 11vw;
			height: 11vw;
		}

		button {
			width: 100%;
			height: 2rem;
			border-radius: 0 0 25px 25px;
			background-color: $luna-accent;
			color: $luna;
			font-weight: bold;
			min-height: fit-content;

			&.undo {
				background-color: $luna-error;
				border-radius: 0;
				color: $luna-white;
			}

			&.save {
				background-color: $luna-success;
				color: $luna-white;
				height: fit-content;

				&:disabled {
					background-color: grey;
				}
			}
		}
	}

	.container-right {
		width: 70%;

		form {
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;

			label {
				color: $luna-white;
				font-weight: bold;
				font-size: x-large;
				margin-top: 2rem;

				&[for="username"] {
					margin-top: 0.5rem;
				}
			}

			input {
				margin-top: 0.5rem;
				width: 100%;
				height: 3rem;
				border-radius: 25px;
				background-color: $luna;
				color: $luna-white;
				font-weight: bold;
				padding-left: 1rem;

				&:disabled {
					margin-top: 2rem;
					background-color: transparent;
				}

				&#username {
					margin-top: 0.5rem;
					font-size: xx-large;
					color: $luna-accent;
				}

				&#confirm-password {
					margin-bottom: 1rem;
				}
			}
		}
	}
}

/*
	o================o
	* PAGE CHARACTER *
	o================o
*/

.main-container {

	.character-main {
		width: 40%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		height: 80%;

		.character-summary {
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			background-color: $luna;
			padding: 10px 20px;
			border-radius: 1rem;
			margin-bottom: 2vh;

			.character-name {
				color: $luna-accent;
				font-weight: bold;
				font-size: x-large;
			}

			.character-level {
				color: $luna-accent;
				font-weight: bold;
				font-size: x-large;
			}

			.character-infos {
				color: $luna-white;
				font-weight: normal;
				font-size: medium;
			}
		}

		.character-stats {
			width: 100%;
			height: 65%;
			display: flex;
			flex-direction: row;

			.character-col-stats {
				width: 15rem;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				align-items: center;

				.character-stat {
					width: 70px;
					height: 70px;
					position: relative;
					background-color: #03217D;
					border-radius: 10px;
					margin: 10px;

					.character-stat-name {
						color: #FFF4DF;
						font-weight: bold;
						font-size: 9px;
						text-align: center;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						margin: 5px;
					}

					.character-stat-value {
						color: #FAA816;
						font-weight: bold;
						font-size: xx-large;
						text-align: center;
						margin-top: -9px;
					}

					.character-add-stat {
						color: $luna-white;
						background-color: $luna;
						font-weight: bold;
						text-align: center;
						border-radius: 50%;
						width: 80%;
						position: absolute;
						left: 50%;
						bottom: 0;
						transform: translate(-50%, 50%)
					}
				}
			}

			.character-col-img {
				width: 70%;
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					max-height: 95%;
					object-fit: cover;
					border-radius: 1rem;
					height: 85%;
				}
			}

		}

		.character-xp {
			width: 100%;
			border-radius: 10px;
			background-color: #0838CF;
			padding: 10px 20px;
			margin: 20px 0px;

			p {
				color: $luna-white;
				font-size: medium;
			}

			.character-xp-bar {
				border-radius: 15px;
				margin: 10px;
				background-color: #FFF4DF;

				.character-xp-bar-value {
					background-color: $luna-accent;
					padding: 0.2rem;
					border-radius: 0.6rem;
				}
			}
		}

		.character-button {
			padding-top: 20px;
			width: 100%;
			height: 10%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-evenly;

			.character-button-item {
				width: 30%;
				height: 5vh;
				background-color: $luna;
				border-radius: 1rem;
				text-align: center;
				color: $luna-white;
				font-weight: bold;
				font-size: large;
				padding-top: 1vh;
			}

			.character-button-danger {
				width: 30%;
				height: 5vh;
				background-color: #922727;
				border-radius: 1rem;
				text-align: center;
				color: $luna-white;
				font-weight: bold;
				font-size: large;
				padding-top: 1vh;
			}
		}

		.character-inventory {
			background-color: $luna;
			color: $luna-accent;
			height: auto;
			width: 100%;
			border-radius: 1rem;
			padding: 1vh 2vh 1vh 2vh;
			font-size: x-large;
			font-weight: bold;

			.character-title {
				margin-bottom: 1vh;
			}

			.character-inventory-items {
				width: 100%;
				height: 80%;
				display: grid;
				grid: repeat(3, 60px) / auto-flow 60px;
				place-items: center;
				overflow-x: auto;
				overflow-y: hidden;

				&:hover {
					&::-webkit-scrollbar-thumb {
						background-color: $luna-light;
						border-radius: 15px;
						box-shadow: 0 0 3px hsl(235, 21%, 11%);
					}
				}

				&::-webkit-scrollbar {
					background-color: $luna;
					width: 10px;
				}

				&::-webkit-scrollbar-thumb {
					background-color: $luna;
					border-radius: 15px;
				}

				.character-inventory-item {
					position: relative;

					.character-quantity {
						position: absolute;
						bottom: -5px;
						right: -5px;
						color: $luna-white;
						font-size: small;
						user-select: none;
					}
				}

				.character-inventory-item img {
					width: 5vh;
					height: 5vh;
					object-fit: cover;
					border-radius: 1rem;
					border: 2px solid $luna-dark;

				}

			}
		}

		.character-spells {
			height: 50%;
			width: 100%;
			margin-top: 20px;
			border-radius: 1rem;
			padding: 10px;
			background-color: $luna;
			color: $luna-accent;
			font-size: x-large;
			font-weight: bold;

			.character-all-titles {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-left: 2vw;

				.character-title {
					margin-right: 2vw;
				}
			}

			.character-spells-list {
				display: flex;
				flex-direction: column;
				align-items: center;
				overflow-y: auto;
				height: 80%;
				margin-bottom: 5px;

				&:hover {
					&::-webkit-scrollbar-thumb {
						background-color: $luna-light;
						border-radius: 15px;
						box-shadow: 0 0 3px hsl(235, 21%, 11%);
					}
				}

				&::-webkit-scrollbar {
					background-color: $luna;
					width: 10px;
				}

				&::-webkit-scrollbar-thumb {
					background-color: $luna;
					border-radius: 15px;
				}

				.character-spell {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
					margin-bottom: 1vh;
					padding: 1vh 2vh 1vh 2vh;
					margin: 5px 0 5px 0;
					border-radius: 1rem;
					background-color: $luna-dark;
					width: 95%;

					.character-spell-name {
						font-size: large;
						font-weight: bold;
						color: $luna-white;
					}

					.character-spell-level {
						font-size: large;
						font-weight: bold;
						color: $luna-accent;
					}

					
				}
			}

			.character-spell-description {
				height: 80%;
				transition: 0.4s ease-in-out;

				.character-spell-description-content {
					height: 100%;
					overflow-y: auto;
					padding: 15px;
					border-radius: 10px;
					background-color: #03217D;
					font-size: medium;
					color: #FFF4DF;

					&:hover {
						&::-webkit-scrollbar-thumb {
							background-color: $luna-light;
							border-radius: 15px;
							box-shadow: 0 0 3px hsl(235, 21%, 11%);
						}
					}

					&::-webkit-scrollbar {
						background-color: $luna;
						width: 10px;
					}

					&::-webkit-scrollbar-thumb {
						background-color: $luna;
						border-radius: 15px;
					}
				}
			}
		}
	}
}

.home-container {
	height: 80%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;

	.charac-container {
		width: 45%;
		height: 100%;

		.charac-infos {

			display: flex;
			border-radius: 1rem;
			background-color: $luna;
			flex-direction: column;
			padding: 1rem;
			position: relative;

			input[type=text] {
				border-radius: 15px;
				color: $luna-accent;
				margin-top: 0.5rem;
				width: 60%;
				height: 35px;
				border-radius: 25px;
				border: none;
				background-color: $luna-dark;
				font-weight: bold;
				padding-left: 1rem;

				&::placeholder {
					color: $luna-accent;
					opacity: 1;
				}
			}

			.form-group {
				width: 70%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;

				label {
					color: $luna-white;
				}
			}

			select {
				border-radius: 15px;
				color: $luna-accent;
				margin-top: 0.5rem;
				width: 60%;
				height: 35px;
				border-radius: 25px;
				border: none;
				background-color: $luna-dark;
				font-weight: bold;
				padding: 0 1rem 0 1rem;
			}

			textarea {
				border-radius: 15px;
				color: $luna-accent;
				margin-top: 0.5rem;
				width: 100%;
				border-radius: 25px;
				border: none;
				background-color: $luna-dark;
				font-weight: bold;
				padding-top: 1rem;
				padding-left: 1rem;
				resize: none;

				&::placeholder {
					color: $luna-accent;
					opacity: 1;
				}

				&::-webkit-scrollbar {
					background-color: $luna;
					width: 10px;
				}
	
				&::-webkit-scrollbar-thumb {
					background-color: $luna-dark;
					border-radius: 15px;
				}
			}

			.character-pp {
				position: absolute;
				top: 10px;
				right: 10px;

				.delete-img {
					position: absolute;
					align-self: flex-end;
					margin-left: 9vw;
					margin-top: 9.4vw;
					background-color: $luna-dark;
					color: $luna-accent;
					border-radius: 15px 0 0 0;
					border: 1px solid $luna-accent;
					width: 2vw;
					cursor: pointer;
				}

				.file-name {
					position: absolute;
					width: max-content;
					max-width: 11vw;
					margin-top: -1vh;
					background-color: $luna-dark;
					color: $luna-white;
					border-radius: 100px;
					border: 1px solid $luna-accent;
					padding-left: 1vw;
					padding-right: 1vw;
				}

				.img-holder {
					width: 11vw;
					height: 11vw;
					position: absolute;
					z-index: 1;
					display: flex;
					justify-content: center;
				}

				img {
					width: 11vw;
					height: 11vw;
					object-fit: cover;
					border-radius: 10px;
				}

				label {
					z-index: 2;
					cursor: pointer;
					font-size: 3rem;
					border-radius: 10px;
					color: $luna-accent;
					background-color: rgba($luna-white, 0.5);
					display: flex;
					justify-content: center;
					align-items: center;
					position: absolute;
					width: 11vw;
					height: 11vw;
				}
			}

		}

		.charac-stats {

			display: flex;
			border-radius: 1rem;
			background-color: $luna;
			flex-direction: column;
			padding: 1rem;
			margin-top: 10px;

			input[type=text] {
				border-radius: 15px;
				color: $luna-accent;
				margin: 10px;
				width: 45%;
				height: 35px;
				border-radius: 25px;
				border: none;
				background-color: $luna-dark;
				font-weight: bold;
				padding-left: 15px;

				&::placeholder {
					color: $luna-accent;
					opacity: 1;
				}
			}

			select {
				border-radius: 15px;
				color: $luna-accent;
				margin-top: 0.5rem;
				width: 40%;
				height: 3rem;
				border-radius: 25px;
				border: none;
				background-color: $luna-dark;
				font-weight: bold;
				padding: 0 1rem 0 1rem;
			}

			textarea {
				border-radius: 15px;
				color: $luna-accent;
				margin-top: 0.5rem;
				width: 100%;
				border-radius: 25px;
				border: none;
				background-color: $luna-dark;
				font-weight: bold;
				padding-top: 1rem;
				padding-left: 1rem;
				resize: none;

				&::placeholder {
					color: $luna-accent;
					opacity: 1;
				}
			}

			.ability {
				display: flex;
				flex-wrap: wrap;

				input {
					flex: 1 1 30%;
					margin: 10px;
					
				}
			}
		}
	}

	.charac-container-r {
		width: 45%;
		height: 100%;

		.character-inventory {
			background-color: $luna;
			color: $luna-accent;
			height: auto;
			width: 100%;
			border-radius: 1rem;
			padding: 1vh 2vh 1vh 2vh;
			font-size: x-large;
			font-weight: bold;

			.character-title {
				margin-bottom: 1vh;
			}

			select {
				border-radius: 15px;
				color: $luna-accent;
				margin-top: 0.5rem;
				width: 100%;
				height: 2rem;
				border-radius: 25px;
				border: none;
				background-color: $luna-dark;
				font-weight: bold;
				font-size: medium;
				padding: 0 1rem 0 1rem;
			}

			.character-inventory-items {
				width: 100%;
				height: 80%;
				display: grid;
				grid: repeat(3, 60px) / auto-flow 60px;
				place-items: center;
				overflow-x: auto;
				overflow-y: hidden;

				&:hover {
					&::-webkit-scrollbar-thumb {
						background-color: $luna-light;
						border-radius: 15px;
						box-shadow: 0 0 3px hsl(235, 21%, 11%);
					}
				}

				&::-webkit-scrollbar {
					background-color: $luna;
					width: 10px;
				}

				&::-webkit-scrollbar-thumb {
					background-color: $luna;
					border-radius: 15px;
				}

				.character-inventory-item {
					position: relative;

					.character-quantity {
						position: absolute;
						bottom: -5px;
						right: -5px;
						color: $luna-white;
						font-size: small;
						user-select: none;
					}
				}

				.character-inventory-item img {
					width: 5vh;
					height: 5vh;
					object-fit: cover;
					border-radius: 1rem;
					border: 2px solid $luna-dark;

				}
			}
		}

		.character-spells {
			height: auto;
			width: 100%;
			margin-top: 20px;
			border-radius: 1rem;
			padding: 1vh 2vh 1vh 2vh;
			background-color: $luna;
			color: $luna-accent;
			font-size: x-large;
			font-weight: bold;

			.character-title {
				margin-right: 2vw;
			}

			select {
				color: #FAA816;
				margin-top: 0.5rem;
				width: 100%;
				height: 36px;
				border-radius: 25px;
				border: none;
				background-color: #03217D;
				font-weight: bold;
				font-size: medium;
				padding-left: 15px;
			}

			.character-spells-list {
				height: 30vh;
				display: flex;
				flex-direction: column;
				align-items: center;
				overflow-y: auto;
				margin-bottom: 10px;

				&:hover {
					&::-webkit-scrollbar-thumb {
						background-color: $luna-light;
						border-radius: 15px;
						box-shadow: 0 0 3px hsl(235, 21%, 11%);
					}
				}

				&::-webkit-scrollbar {
					background-color: $luna;
					width: 10px;
				}

				&::-webkit-scrollbar-thumb {
					background-color: $luna;
					border-radius: 15px;
				}

				.character-spell {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
					margin-bottom: 1vh;
					padding: 1vh 2vh 1vh 2vh;
					margin: 5px 0 5px 0;
					border-radius: 1rem;
					background-color: $luna-dark;
					width: 100%;

					.character-spell-name {
						font-size: large;
						font-weight: bold;
						color: $luna-white;
					}

					.character-spell-level {
						font-size: large;
						font-weight: bold;
						color: $luna-accent;
					}
				}
			}
		}
	}
}

.all-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 20px;

	input[type=submit] {
		background-color: $luna-accent;
		color: $luna-white;
		border: none;
		border-radius: 25px;
		padding: 5px 50px 5px 50px;
		font-size: x-large;
		font-weight: bold;
		cursor: pointer;
		transition: 0.3s;

		&:hover {
			background-color: $luna;
			color: $luna-accent;
		}
	}
}

/*
	o===========o
	* PAGE WIKI *
	o===========o
*/

.wiki-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	height: 75vh;

	.main-nav {
		height: 100%;
		width: 12rem;


		.main-li {
			width: 100%;
			height: 3rem;
			background-color: $luna;
			border-radius: 15px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $luna-white;
			font-size: 1.5rem;
			margin-bottom: 1rem;

			filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, 0.3));



			&.selected {
				&::after {
					content: "";
					position: absolute;
					width: 2.4rem;
					height: 2.4rem;
					background-color: $luna;
					border-radius: 8px;
					margin-left: 10.5rem;
					transform: rotate(45deg);
				}
			}
		}
	}

	.second-nav {
		height: 100%;
		width: 22rem;
		overflow-x: hidden;
		overflow-y: visible;

		&:hover {
			&::-webkit-scrollbar-thumb {
				background-color: $luna-dark;
				border-radius: 15px;
			}
		}

		&::-webkit-scrollbar {
			background-color: transparent;
			width: 10px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: transparent;
			border-radius: 15px;
		}


		.second-li {
			width: 20rem;
			height: 3rem;
			background-color: $luna-dark;
			border-radius: 15px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $luna-white;
			font-size: 1.5rem;
			margin-bottom: 1rem;

			filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, 0.3));

			a{
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 80%;
			}

			&.selected {
				&::after {
					content: "";
					position: absolute;
					width: 2.4rem;
					height: 2.4rem;
					background-color: $luna-dark;
					border-radius: 8px;
					margin-left: 18.5rem;
					transform: rotate(45deg);
				}
			}
		}

		.add-element {
			width: 20rem;
			height: 3rem;
			background-color: $luna-accent;
			border-radius: 15px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $luna-dark;
			font-weight: 600;
			font-size: 1.5rem;
			margin-bottom: 1rem;
			border: 1px solid $luna-dark;
			filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, 0.3));
		}
	}

	.item-description {
		height: 100%;
		width: 40vw;
		overflow-y: auto;
		overflow-x: hidden;
		background-color: $luna-darker;
		border-radius: 20px;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
		padding: 1.5rem;
		display: flex;
		flex-direction: column;
		align-items: center;

		&:hover {
			&::-webkit-scrollbar-thumb {
				background-color: $luna-dark;
				border-radius: 15px;
			}
		}

		&::-webkit-scrollbar {
			background-color: transparent;
			width: 10px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: transparent;
			border-radius: 15px;
		}

		h1 {
			color: $luna-white;
			font-size: 2rem;
			font-weight: 600;
		}

		img {
			position: absolute;
			width: 5vw;
			object-fit: fill;
			border-radius: 0 0 0 20px;
			margin-left: 35vw;
			margin-top: -1.5rem;
			border-radius: 0 20px 0 0;
		}

		p {
			color: $luna-white;
			font-size: 1rem;
			margin-top: 1rem;
			margin-left: 1rem;
			padding-right: 5.2vw;
		}

		form {
			align-self: flex-start;
			width: 100%;
			height: auto !important;
			margin-left: 1rem;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			height: 100%;

			label {
				font-size: 1.2rem;
				margin-top: 2rem;
				color: $luna-white;
			}

			input {
				margin-top: 0.5rem;
				width: 30rem;
				height: 2rem;
				background-color: $luna-darker;
				border-radius: 15px;
				color: $luna-white;
				font-size: 1rem;
				margin-bottom: 1rem;
				border: 1px solid $luna-white;
				padding-left: 1rem;

				&::placeholder {
					color: rgba($luna-light, 0.6);
				}
			}

			textarea {
				margin-top: 0.5rem;
				width: 30rem;
				height: 10rem;
				background-color: $luna-darker;
				border-radius: 10px 10px 0 10px;
				color: $luna-white;
				font-size: 1rem;
				margin-bottom: 1rem;
				border: 1px solid $luna-white;
				padding-left: 1rem;
				padding-top: 1rem;
				resize: both;
				max-width: 95%;
				max-height: 20rem;
				outline: none;

				&.limit-right {
					height: 11vw;
					max-width: 25vw;
				}

				&:hover {
					&::-webkit-scrollbar-thumb {
						&:hover {
							cursor: default;
						}

						background-color: $luna-dark;
						border-radius: 15px;
					}
				}

				&::-webkit-scrollbar {
					background-color: transparent;
					width: 10px;

					&:hover {
						cursor: default;
					}
				}

				&::-webkit-scrollbar-thumb {
					&:hover {
						cursor: default;
					}

					background-color: transparent;
					border-radius: 15px;
				}

				&::placeholder {
					color: rgba($luna-light, 0.6);
				}
			}

			select {
				margin-top: 0.5rem;
				width: 30rem;
				height: 2rem;
				background-color: $luna-darker;
				border-radius: 15px;
				color: $luna-white;
				font-size: 1rem;
				margin-bottom: 1rem;
				border: 1px solid $luna-white;
				padding-left: 1rem;
			}

			.selected-items {
				width: 90%;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;

				li {
					margin-left: 1rem;
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;

					p {
						margin: 0;
						width: fit-content;
						margin-right: 1rem;
						padding: 0;
					}

					button {
						background-color: $luna-accent;
						border-radius: 50px;
						width: 1.5rem;
						height: 1.5rem;
						font-weight: 600;
						color: $luna-dark;
					}
				}

			}

			.group {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: flex-start;
			}

			.img-holder {
				margin-top: -0.5rem;
				width: 11vw;
				// height: 11vw;
				z-index: 1;
				margin-left: 1rem;
				overflow: hidden;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;



				.delete-img {
					position: relative;
					align-self: flex-end;
					background-color: $luna-dark;
					color: $luna-accent;
					border-radius: 0 10px 0 0;
					border: 1px solid $luna-accent;
					width: 2vw;
					bottom: 1.5rem;
					right: 9vw;
					cursor: pointer;
				}

				.file-name {
					position: relative;
					max-width: 11vw;
					margin-top: -1vh;
					top: 1rem;
					background-color: $luna-dark;
					color: $luna-white;
					border-radius: 100px;
					border: 1px solid $luna-accent;
					padding-left: 1vw;
					padding-right: 1vw;
				}

				img {
					position: initial;
					margin: 0;
					width: 11vw;
					height: 11vw;
					object-fit: cover;
					border-radius: 10px 10px 10px 0;
				}

			}

			input[type="file"] {
				display: none;
			}
		}



		button[type="submit"] {
			margin-top: 2rem;
			width: 12rem;
			height: 3rem;
			background-color: $luna-accent;
			border-radius: 15px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $luna-dark;
			font-weight: 600;
			font-size: 1.5rem;
			margin-bottom: 1rem;
		}
	}
}