@tailwind base;
@tailwind components;
@tailwind utilities;

$luna-darker : #021046;
$luna-dark : #03217D;
$luna : #0838CF;
$luna-light : #0C82F2;
$luna-white : #FFF4DF;
$luna-accent : #FAA816;
$luna-error: #922727;

body {
	background-color: $luna-darker;
	color: $luna-light;
	font-family: 'Roboto', sans-serif;
}

nav {
	color: rgb(255 255 255);
	width: 100vw;
	height: 3.5vw;
	background-color: darkslategrey;
	display: flex;
	flex-direction: row;
	align-items: center;

	.luna {
		width: 10%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.links {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 80%;
		height: 100%;
	}

	.user {
		width: 10%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		padding-top: 1rem;

		.connected {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			width: 8vw;
			height: fit-content;
			// background-color: darkslategray;

			&:hover {
				background-color: darkslategray;
				border-radius: 50px;

				.app {
					display: block;
					transition: all 0.5s linear;
				}
			}

			.app {
				margin-top: 3.5rem;
				width: fit-content;
				display: flex;
				flex-direction: row;
				align-items: flex-start;
				justify-content: flex-start;
				// background-color: darkslategray;
				display: none;
				// transition: all 0.5s linear;
				margin-top: 3vh;

				&:hover {
					cursor: pointer;
					// background-color: darkslategray;
				}
			}

			&:has(#user_pp:hover) {
				border-radius: 50px;
				background-color: darkslategray;
			}

			#user_pp:hover {
				background-color: darkslategray;
			}

			#user_pp:hover~.app {
				display: block;
				transition: all 0.5s linear;
			}
		}

		a {
			margin: 0px;
			height: auto;
			width: fit-content;

			.profile-pic {
				outline: darkslategray solid 1.5vw;
			}
		}

	}
}

.dices {
	position: fixed;
	bottom: 2vh;
	right: 2vw;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.throw {
	position: absolute;
	bottom: 2vh;
	right: 5vw;
	padding: 0px;
	font-size: 2.65vh;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 8vw;
	height: 5.5vh;
	margin-bottom: 0.5em;
	background-color: $luna-dark;
	color: $luna-light;
	border-radius: 100px 0px 0px 100px;
	border: 0.3vh solid $luna-accent;
	box-shadow: 1.5vh 7vh 7vh rgba(0, 0, 0, 0.2);
}

.main-button {
	position: absolute;
	bottom: inherit;
	right: inherit;
	width: 8.2vh;
	height: 8.2vh;
	display: flex;
	border-radius: 100px;
	align-items: center;
	justify-content: center;
	background-color: $luna;
	border: 0.3vh solid $luna-accent;
	box-shadow: 1.5vh 7vh 7vh rgba(0, 0, 0, 0.2);

	img {
		width: 75%;
	}
}


.select-dice {
	position: absolute;
	bottom: 11vh;
	right: inherit;
	padding: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 3.7vw;
	margin-bottom: 1vw;
	color: $luna-light;

	button {
		margin-top: 1vh;
	}

	img {
		display: inline;
		margin: 0px;
		width: 75%;
		background-color: $luna-dark;
		border-radius: 100px;
		box-shadow: 0.3vh 0.3vh 0.3vh 0.2vh rgba(0, 0, 0, 0.2);
	}
}

.hidden {
	display: none;
}