@tailwind base;
@tailwind components;
@tailwind utilities;

$luna-darker : #021046;
$luna-dark : #03217D;
$luna : #0838CF;
$luna-light : #0C82F2;
$luna-white : #FFF4DF;
$luna-accent : #FAA816;
$luna-error: #922727;
$luna-success: #07460D;

body {
	background: linear-gradient(rgba(#021046, 0.8), rgba(#021046, 0.8)), url(/public/images/bg-main.jpg);
	background-size: 100vw 100vh;
	color: $luna-light;
	height: 100vh;
	width: 100vw;
}

nav {
	color: $luna-white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 10vh;
	margin-bottom: 10vh;

	.luna {
		font-size: 2.5rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 20vw;
		// border: 1px solid white;
	}

	.links {
		font-size: 1.75rem;
		width: 80vw;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		// border: 1px solid white;
	}

	.user {
		// border: 1px solid white;
		width: 20vw;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		padding-right: 1vw;
		// padding-top: 2vh;

		.connected {
			// border: 1px solid white;
			display: flex;
			height: fit-content;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;

			&:hover>.logout-button {
				display: block;
			}

			.logout-button {
				// position: absolute;
				font-size: 1.5rem;
				color: $luna-accent;
				border: 0.1vh solid $luna-accent;
				border-radius: 100px;
				padding: 0.5vh 1vw;
				margin-top: 1vh;
				background-color: $luna-dark;
				box-shadow: 1.5vh 7vh 7vh rgba(0, 0, 0, 0.2);
				display: none;

				&:hover {
					background-color: $luna-accent;
					color: $luna-dark;
					display: block;
				}
			}
		}

		.profile-pic {
			padding-top: 1vh;

			img {
				width: 50px;
				border-radius: 100px;
			}
		}
	}

}



/* 
	o=======o
	* DICES *
	o=======o
*/

.dices {
	position: fixed;
	bottom: 15px;
	right: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.throw {
	position: absolute;
	bottom: 17px;
	right: 87px;
	padding: 5px;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 50px;
	margin-bottom: 0.5em;
	background-color: $luna-dark;
	color: $luna-light;
	border-radius: 100px 0px 0px 100px;
	border: 2px solid $luna-accent;
	box-shadow: 1.5vh 7vh 7vh rgba(0, 0, 0, 0.2);
}

.main-button {
	position: absolute;
	bottom: inherit;
	right: inherit;
	width: 70px;
	height: 70px;
	display: flex;
	border-radius: 100px;
	align-items: center;
	justify-content: center;
	background-color: $luna;
	border: 2px solid $luna-accent;
	box-shadow: 1.5vh 7vh 7vh rgba(0, 0, 0, 0.2);

	img {
		width: 75%;
		color: $luna-white;
	}
}

.select-dice {
	position: absolute;
	bottom: 85px;
	right: inherit;
	padding: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50px;
	margin-bottom: 1vw;
	color: $luna-light;

	button {
		margin-top: 1vh;
		img {
			display: inline;
			margin: 0px;
			width: 50px;
			height: 50px;
			padding:5px;
			background-color: $luna-dark;
			color:$luna-white;
			border-radius: 100px;
			box-shadow: 0.3vh 0.3vh 0.3vh 0.2vh rgba(0, 0, 0, 0.2);
		}
	}

	
}

.hidden {
	display: none;
}


/*
	o=============o
	* ERROR POPUP *
	o=============o
*/
.error-popup {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 50%;
	min-height: 10vh;
	height: fit-content;
	position: absolute;
	margin-top: 3vh;
	background-color: $luna-error;
	top: 0px;
	border: 2px solid $luna-accent;
	border-radius: 25px;
	padding-left: 1.5vw;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
}

.error-title {
	color: $luna-white;
	font-size: 1.25rem;
	font-weight: 600;
	margin-left: 1vw;
	margin-bottom: 1vh;
}

.error-text {
	color: $luna-white;
}

.error-close {
	position: absolute;
	right: 0px;
	top: 0px;
	margin-right: 1.5vw;
	margin-top: 1.5vh;
}

/*
	o===============o
	* SUCCESS POPUP *
	o===============o
*/
.success-popup {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 50%;
	min-height: 10vh;
	height: fit-content;
	position: absolute;
	margin-top: 3vh;
	background-color: $luna-success;
	top: 0px;
	border: 2px solid $luna-accent;
	border-radius: 25px;
	padding-left: 1.5vw;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
}

.success-title {
	color: $luna-white;
	font-size: 1.25rem;
	font-weight: 600;
	margin-left: 1vw;
	margin-bottom: 1vh;
}

.success-text {
	color: $luna-white;
}

.success-close {
	position: absolute;
	right: 0px;
	top: 0px;
	margin-right: 1.5vw;
	margin-top: 1.5vh;
}

/*
	o===========o
	* PAGE HOME *
	o===========o
*/
.main-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-evenly;
	height: 80vh;

	.home-main {
		width: 40%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		height: 80%;


		.title {
			color: $luna-accent;
			font-weight: bold;
			font-size: large;
			border-radius: 15px;
			background-color: $luna-dark;
			border: 1px solid $luna-accent;
			padding-top: 1.5vh;
			padding-bottom: 1.5vh;
			width: 100%;
			text-align: center;
		}

		ul {
			width: 80%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			background-color: $luna;
			height: 100%;
			overflow-y: auto;
			padding-bottom: 1vh;

			&:hover {
				&::-webkit-scrollbar-thumb {
					background-color: $luna-light;
					border-radius: 15px;
					box-shadow: 0 0 3px hsl(235, 21%, 11%);
				}
			}

			&::-webkit-scrollbar {
				background-color: $luna;
				width: 10px;
			}

			&::-webkit-scrollbar-thumb {
				background-color: $luna;
				border-radius: 15px;
			}

			li {
				display: flex;
				flex-direction: row;
				align-items: center;
				color: $luna-accent;
				font-weight: bold;
				font-size: large;
				border-radius: 15px;
				background-color: $luna-dark;
				padding-top: 1.5vh;
				padding-bottom: 1.5vh;
				width: 90%;
				height: 6vh;
				text-align: center;
				margin-top: 1vh;

				img {
					height: 200%;
					border-radius: 15px 0 0 15px;
					margin-right: 2%;
				}

				div {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: center;
					width: 100%;

					.name {
						color: $luna-accent;
					}

					.infos {
						color: $luna-white;
						font-weight: normal;
					}
				}
			}
		}

		.add {
			width: 80%;
			background-color: $luna-accent;
			color: $luna-white;
			height: 6vh;
			border-radius: 0px 0px 15px 15px;
		}
	}
}

/*
	o===========o
	* PAGE WIKI *
	o===========o
*/

.wiki-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	height: 80vh;

	.entities {
		width: 10%;

		li {
			width: 100%;
			text-align: center;
			color: $luna-white;
			background-color: $luna;
			padding-top: 1rem;
			padding-bottom: 1rem;
			border-radius: 15px;
			margin-bottom: 2vh;
		}
	}

	.items {
		width: 10%;

		li {
			width: 100%;
			text-align: center;
			color: $luna-white;
			background-color: $luna-dark;
			padding-top: 1rem;
			padding-bottom: 1rem;
			border-radius: 15px;
			margin-bottom: 2vh;
		}
	}

	.explanation {
		color: $luna-white;
		width: 60%;
		height: 70%;
		background-color: $luna-darker;
		padding-left: 1vw;
		padding-top: 1vw;
		border-radius: 15px;
		box-shadow: 0 0 10px hsl(235, 21%, 11%);

		.name {
			color: $luna-accent;
			font-weight: bold;
			font-size: x-large;
			margin-bottom: 2vh;
		}

		.description {
			color: $luna-white;
			font-size: normal;
		}
	}
}