@tailwind base;
@tailwind components;
@tailwind utilities;


$luna-darker : #021046;
$luna-dark : #03217D;
$luna : #0838CF;
$luna-light : #0C82F2;
$luna-white : #FFF4DF;
$luna-accent : #FAA816;
$luna-error: #922727;

.main-container {
	display: flex;
	flex-direction: row;
}

.image {
	user-select: none;
	width: 40vw;
	height: 100vh;
	object-fit: cover;
}

.middle-div {
	width: 5vw;
	height: 100vh;
	background-color: $luna-dark;
	box-shadow: -0.5vw, 0vw, 1.5vw, 0.5vw, rgba(2, 16, 70, 0.75);
}

.container {
	width: 55vw;
	height: 100vh;
	background-image: url(/public/images/bg-main.jpg);
	background-size: cover;
	box-shadow: -0.5vw, 0vw, 1.5vw, 0.5vw, rgba(2, 16, 70, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


h1 {
	font-size: 1.875rem;
	line-height: 2.25rem;
	font-weight: 600;
	margin-bottom: 5vh;
	color: $luna-accent;
}

.text {
	align-self: flex-end;
	margin-right: 3vw;
	color: $luna-accent;
}

form {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin-bottom: 3vh;
	// margin-left: 1.25rem;
}

// label {
// 	display: none;
// }

input {
	border-radius: 100px;
	background-color: $luna-dark;
	color: $luna-white;
	height: 4vh;
	width: 40%;
	padding-left: 2vw;
	padding-right: 2vw;

	margin-bottom: 2vh;

	&::placeholder {
		color: $luna-light;
	}

	&:focus {
		outline: none;

		// &~label {
		// 	display: block;
		// 	color: $luna-light;
		// 	font-size: 0.75rem;
		// 	margin-bottom: 0.25rem;
		// }
	}
}

button[type=submit] {
	border-radius: 100px;
	background-color: $luna;
	color: $luna-white;
	width: 20vw;
	padding-left: 2vw;
	padding-right: 2vw;
	padding-top: 1vh;
	padding-bottom: 1vh;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.error-popup {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 50%;
	min-height: 10vh;
	height: fit-content;
	position: absolute;
	margin-top: 3vh;
	background-color: $luna-error;
	top: 0px;
	border: 2px solid $luna-accent;
	border-radius: 25px;
	padding-left: 1.5vw;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
}

.error-title {
	color: $luna-white;
	font-size: 1.25rem;
	font-weight: 600;
	margin-left: 1vw;
	margin-bottom: 1vh;
}

.error-text {
	color: $luna-white;
}

.error-close {
	position: absolute;
	right: 0px;
	top: 0px;
	margin-right: 1.5vw;
	margin-top: 1.5vh;
}

.border {
	border: 1px solid red;
}

button {
	user-select: none;
}