{% extends 'base.html.twig' %}

{% block title %}WIKI - LunaRP{% endblock %}

{% block body %}

<div class="wiki-container">
	<ul class="entities">
		<li {% block class %}{% endblock %}>CLASSES</li>
		<li {% block race %}{% endblock %}>RACES</li>
		<li {% block spell %}{% endblock %}>SORTS</li>
		<li {% block languages %}{% endblock %}>LANGUES</li>
		<li {% block objects %}{% endblock %}>OBJETS</li>
	</ul>
	<ul class="items">
		{% block items %}{% endblock %}
	</ul>
	<div class="explanation">
		<p class="name">{% block name %}Acune entrée{% endblock %}</p>
		<p class="description">{% block description %}Vous n'avez aucune entrée dans cette catégorie !{% endblock %}</p>
		<img src="{% block image %}{% endblock %}" />
	</div>
</div>

{% endblock %}
