<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
      {{ encore_entry_link_tags('auth') }}
    {% endblock %}
		<script src="https://kit.fontawesome.com/f6e9b7154e.js" crossorigin="anonymous"></script>
  </head>
  <body>
		<div class="main-container">
			<img class="image" src="https://i.pinimg.com/564x/9f/b9/3b/9fb93b8a265ca6fcbdf4699db2aaf9c4.jpg"/>
			<div class="middle-div"></div>
			<div class="container">
				{% set flashes = app.flashes('error') %}
				{% if flashes %}
					<div class="error-popup" id="error-popup">
						<button class="text error-close" id="error-close">✗</button>
						<p class="error-title">Oups ! Cela ne s'est pas passé comme prévu.</p>
						{% for flash in flashes %}
							<p class="error-text">{{flash}}</p>
						{% endfor %}
					</div>
				{% endif %}
				{% set flashes = app.flashes('success') %}
				{% if flashes %}
					<div class="success-popup" id="success-popup">
						<button class="text success-close" id="success-close">✗</button>
						<p class="success-title">Super !</p>
						{% for flash in flashes %}
							<p class="success-text">{{flash}}</p>
						{% endfor %}
					</div>
				{% endif %}
    		{% block body %}{% endblock %}
			</div>
		</div>
	  {% block javascripts %}{% endblock %}
		<script src="{{asset('js/popUp.js')}}"></script>
  </body>
</html>
